:root{
    --kawasaki_green: #69bd27;
    --kawasaki_green_secondary: #32cd32;
    --black: #000000;
    --white: #fff;
    --grey: #86868d;
    --light_grey: #b5b5b9;
    --dark_grey: #202021;
    // font size
    --font_s: 13px;
}

$--black: #000;
$--kawasaki_green: #69bd27;
$--kawasaki_green_secondary: #32cd32;
$--black: #000000;
$--white: #fff;
$--grey: #86868d;
$--light_grey: #b5b5b9;
$--dark_grey: #202021;
// font size
$--font_s: 13px;
$--font_m: 18px;
// font weight
$--regular: 300;
$--big: 500;
// font family
$--principal_font: 'Oswald', sans-serif;
