@import 'vars';

.shopping-cart{
    padding-top: 16px;
}

.shopping-cart h1{
    font-size: $--font_l;
    font-weight: $--regular;
    margin: 32px;
    padding-bottom: 8px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid $--kawasaki_green;
}

